:root{
    --pri-color: #521c0b;
    --sec-color: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
    height: 100vh;

    margin: 10px;
    background-color: var(--pri-color);
    border-radius: 20px;
}